# Ignore everything
*

# Except these
!handle_admin_actions.php
!shared_modals.js
!shared_modals.php
!director.js
!director.php
!style.css
!program.php
!program.js
!home.php
!home.js
!common_utilities.php
!.gitignore