# Ignore everything
*

# Except these
!handle_admin_actions.php
!shared_modals.js
!shared_modals.php
!director.js
!director.php
!style.css
!program.php
!program.js
!home.php
!home.js
!faculty.php
!faculty.js
!index.php
!logout.php
!fetch_announcements.php
!common_utilities.php
!get_location.php
!get_statistics.php
!.gitignore