# Ignore everything
*

# Except these

!.gitignore
!director.php
!program.php
!home.php
!faculty.php
!index.php


!assets/
!assets/css
!assets/js
!assets/php

!handle_admin_actions.php
!shared_modals.js
!shared_modals.php
!logout.php
!fetch_announcements.php
!common_utilities.php
!get_location.php
!get_statistics.php
!program.js
!director.js
!home.js
!faculty.js
!style.css
!scheduling.css
!SQL_DUMP.sql